body{
    background-color: #ffffff;
    font-family: "roboto",sans-serif;
}
.nav{
    color: #2E2F42;
    list-style-type: none;
    text-decoration: none;
    font-weight: 500;
    font-size: 1em;
    line-height: 24px;
    initial-letter: 2%;
}
.nav :hover,
.nav :focus{
    color: #404BBF;
}
.adres{
    color: #434455;
    list-style-type: none;
    font-weight: 400;
    font-size: 1em;
    line-height: 24px;
    initial-letter: 2%;
}
.adres :hover,
.adres :focus{
    color: #404BBF;
}